.header_bgr {
    height: 1080px;
    background-image: url('../image/amkodor.svg');
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff00;
}

.header_logo {
    margin-left: 100px;
    margin-top: 20px;
}

.header_contact {
    margin-right: 100px;
    margin-top: 50px;
}

.header_nav {
    display: flex;
    align-items: center;
}

.header_nav_link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    
}

.header_nav_link:hover,
.header_contact_phone,
.header_contact_email {
    color: #FE9A30;
}

.header_nav_link:hover {
    text-decoration-line: underline;
}


.header_nav_link:not(:last-child)  {
    margin-right: 90px;
}

.header_contact {
    display: flex;
    flex-direction: column;
}

.header_contact a,
.footer_info a {
    color: black;
    text-decoration: none;
}

.header_contact_img {
    margin-right: 10px;
    float: left;
}

.header_contact_phone, 
.header_contact_email, 
.social_network,
.footer_contact_address {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.header_contact_phone {
    margin-bottom: 10px;
}

.social_network .header_contact_img {
    float: none;
}

.header_title {
    margin: 254px 0 25px;
    text-align: center;
    font-weight: 900;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.header_subtitle {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a {
    text-decoration: none;
    color: black;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: -130px;
    width: 292px;
    margin-top: 10px;

    background-color: #fff;
    padding: 20px 20px 10px;
    z-index: 1;
}

.dropdown-content2{
    margin-top: 10px;
    width: 318px;
    display: none;
    position: absolute;
    right: -55px;
    background-color: #fff;
    padding: 20px 20px 10px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    margin-bottom: 14px;
    color: black;
    text-transform:capitalize;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a {
    margin-bottom: 14px;
    color: black;
    text-transform:none;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color:#FE9A30}
.dropdown-content2 a:hover {color: #FE9A30;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdown-content2 {display: block;}

.dropdown a:hover {
    color: #FE9A30;
}
