.product_bt {
    margin-top: 26px;
}

.product_title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    color: #FE9A30;
}

.product_subtitle {
    margin-top: 21px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
}

.product_table {
    margin-top: 50px;
}

.product_table_title {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%
}

.product_table_subtitle {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%
}

.product_tab_item {
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    height: 38px;
    margin: 10px 0;
    align-items: center;
}

.product_tab_subname {
    text-align: left;
    width: 23%;
}

.product_tab_item:not(:first-child) {
    font-weight: 500;
    padding-left: 10px;
}

.product_tab_item:nth-child(even) {
    background-color: #FE9A30;
    color: #fff;
}

.product_table_btn{
    margin-top: 46px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;

}

.product_table_btn button{
    padding: 22px 86.5px;
    color: #FE9A30;
    font-size: 24px;
    font-weight: 500;
    background-color: #fff;
    border: #FE9A30 2px solid;
}

.product_torf {
    margin-top: 50px;
}